
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./main.css";
@import "./structure.css";
/* @import "./datatables.css";
@import "./dt-global.css"; */
@import 'datatables.net-dt';
/* @import "../../public/plugins/table/datatable/datatables.css"; */

/* *, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: transparent!important;
} */


[x-cloak] {
    display: none;
}


